.sb-checkbox {
    margin: 10px;
}
.sb-checkbox {
    display: inline-block;
    font-size: 0;
}
.sb-checkbox__input {
    display: none;
}
.sb-checkbox__input:checked + .sb-checkbox__label:after {
    opacity: 1;
}
.sb-checkbox__label {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}
.sb-checkbox__label:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
}
.sb-checkbox__label:after {
    content: 'done';
    font-family: 'Material Icons';
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: 0.2s opacity;
}
.sb-checkbox__label--green:before {
    border-color: #66bb6a;
}
.sb-checkbox__label--green:after {
    background-color: #66bb6a;
    color: #fff;
}
.sb-checkbox__label--red:before {
    border-color: #ef5350;
}
.sb-checkbox__label--red:after {
    background-color: #ef5350;
    color: #fff;
}
.sb-checkbox__label--blue:before {
    border-color: #5c6bc0;
}
.sb-checkbox__label--blue:after {
    background-color: #5c6bc0;
    color: #fff;
}
.sb-checkbox__label--orange:before {
    border-color: #ffa726;
}
.sb-checkbox__label--orange:after {
    background-color: #ffa726;
    color: #fff;
}
