body {
    font-family: 'Pixelify Sans';
}
.stroke-2 {
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: rgb(59, 59, 59);
}
.stroke-1 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(27, 27, 27);
}

.clouds {
    animation: cloudsLtR 20s linear infinite;
    animation-name: cloudsLtR;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud1{
    animation-duration: 40s;
}

.cloud2{    
    animation-delay: -10s;
    animation-duration: 15s;
}


.cloud3{
    animation-duration: 20s;
}

.cloud4{
    animation-delay: -5s;
    animation-duration: 60s;
}


.title {
    animation: titleBtT 5s linear infinite;

}


.title2 {
    animation: titleBtT 8s linear infinite;

}


@keyframes cloudsLtR {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;    
    }
}

@keyframes titleBtT {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 50px;
    }
    100% {
        margin-bottom: 0px;
    }
}
  
