body {
    font-family: 'Pixelify Sans';
}
.bg-dot {
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 50px 50px;
}
.stroke-2 {
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: rgb(59, 59, 59);
}
.stroke-1 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(27, 27, 27);
}

.clouds {
    animation: cloudsLtR 20s linear infinite;
    animation-name: cloudsLtR;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud1{
    animation-duration: 40s;
}

.cloud2{    
    animation-delay: -10s;
    animation-duration: 15s;
}


.cloud3{
    animation-duration: 20s;
}

.cloud4{
    animation-delay: -5s;
    animation-duration: 60s;
}


.title {
    animation: titleBtT 3s ease-in-out infinite;

}


.title2 {
    animation: titleBtT 8s ease-in-out infinite;

}


.bird1 {
    animation: fly1 5s ease-in-out infinite;
}
.bird2 {
    animation: fly2 5s ease-in-out infinite;
}

@keyframes cloudsLtR {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;    
    }
}

@keyframes titleBtT {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 15px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes  fly1 {

    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes  fly2 {

    0% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(25px);
    }
}

  
  
